# Numpy & Pandas

## Numpy and Arrays

Numpy is a powerful numeric library that is essential for anyone analyzing data with Python. Numpy is a huge package that can support a multitude of tasks. Numpy is also inextricably linked to SciPy, a powerful library for scientific computing with capabilities for fitting, linear algebra, machine learning, etc. Here we are just going to cover some of the basics of numpy, but I encourage you to check out the numpy documentation pages (https://numpy.org/doc/stable/) to get an idea of the variety of things you can do.

Arrays are a data type which is fundamental to Numpy. In some ways Numpy arrays are like Python lists:
    - both are used for storing data/objects
    - both are mutable
    - items can be extracted from both using indexing and slicing
    - both can be iterated over

However there are key aspects of arrays that make them very different:
    - most operators act on the elements of an array instead of the array as a whole
    - arrays can only hold data of a single type
    - arrays can efficiently store large amounts of data in memory

In [22]:
import numpy as np

# create some sample lists
xlist = [1, 2, 3, 4]
ylist = [1, 4, 9, 16]

# create some sample arrays
x = np.array([1, 2, 3, 4])
y = np.array([1, 4, 9, 16])

First lets checkout the different behaviors between lists and arrays

In [23]:
print(xlist * 4)

print(x * 4)

print(x / 4)

print(xlist / 4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[ 4  8 12 16]
[0.25 0.5  0.75 1.  ]

TypeError: unsupported operand type(s) for /: 'list' and 'int'

Notice how the list was repeated 4 times, whereas each element of the array was multiplied by 4 and the result ended up being the same length.

Division works element-wise for arrays, but division is not defined and produces an error when performed on a list.

## Iterating, indexing, and slicing

Iterating over a 1D array looks just like iterating over a list

In [24]:
for val in xlist:
    print(val)

for val in x:
    print(val)

1
2
3
4
1
2
3
4

Iterating an N-dimensional array will iterate over slices along the first dimension.

In [27]:
y = np.zeros((5, 5))

for val in y:
    print(val)

print()
# you could accomplish the same thing liks this (but you probably shouldn't)
for i in range(y.shape[0]):
    val = y[i, :]
    print(val)

[0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0.]

[0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0.]

We can also select subsets of the array using conditionals.

In [26]:
xs = x[x < 2]
xs

array([1])

## Pandas Tables

Pandas is a powerful data analysis package that provides tools for manipulating tabular data. This is particularily useful in many astronomical applications, such as spectroscopy, and time-series. Data is organized into rows and columns where the columns are named and recalled using arbitrary Python objects (strings are the most convenient). This is in contrast to Numpy arrays where columns can only be accessed using integer indicies (however, see record arrays https://docs.scipy.org/doc/numpy-1.10.1/user/basics.rec.html).

Sorting, querying, merging, and aggregation are some of the most useful Pandas features, but this tutorial will only scratch the surface. See https://pandas.pydata.org/docs/ for the full documentation.


Pandas is most useful for dealing with heterogeneous and/or large datasets, when merging or complex queries are needed, or if you have metadata associated with columns (e.g. strings as labels).

The basic units/objects in Pandas are the Series and DataFrame objects.

In [10]:
import pandas as pd

# Lets create a sample Series object
x = [1.0, 2.0, 4.4, 4.5, 8.8, 9.1, 8.7, 2.3, 2.4, 3.1, 5.9]
s = pd.Series(x)

print(s)

0     1.0
1     2.0
2     4.4
3     4.5
4     8.8
5     9.1
6     8.7
7     2.3
8     2.4
9     3.1
10    5.9
dtype: float64

We populated a Series starting from a list of floating point nunmbers. Notice that two columns are printed in the output. Every entry in a Series has a corresponding integer index, generally these indicies are created automatically. The data type of the series is printed below the Series itself. Series objects can only store data of a single type, but any data type can be stored.

A Series is like a single column of data in a table. A DataFrame is the Pandas object that represents a full table. Each column in the table is a Series.

There are several ways to construct a Pandas DataFrame, including from Numpy arrays, Python dictionaries, a list of Series objects, reading from a CSV, reading from a URL, etc.

Lets first construt a single-column DataFrame from our series `s`.

In [11]:
df = pd.DataFrame(s, columns=['sample'])
df

    sample
0      1.0
1      2.0
2      4.4
3      4.5
4      8.8
5      9.1
6      8.7
7      2.3
8      2.4
9      3.1
10     5.9

Jupyter has special support for displaying DataFrames, simply typing the variable name of a DataFrame at the end of the cell will present a nicely formatted view of the table.

Lets add some more columns to our DataFrame.

In [12]:
df['sample_base'] = df['sample'] // 1
df['sample_plus1'] = df['sample'] + 1
df['sample_squared'] = df['sample']**2
df

    sample  sample_base  sample_plus1  sample_squared
0      1.0          1.0           2.0            1.00
1      2.0          2.0           3.0            4.00
2      4.4          4.0           5.4           19.36
3      4.5          4.0           5.5           20.25
4      8.8          8.0           9.8           77.44
5      9.1          9.0          10.1           82.81
6      8.7          8.0           9.7           75.69
7      2.3          2.0           3.3            5.29
8      2.4          2.0           3.4            5.76
9      3.1          3.0           4.1            9.61
10     5.9          5.0           6.9           34.81

Notice that we can access the values in a column using two different syntax.

Now sort by the `sample_squared` column

In [13]:
df = df.sort_values(by='sample_squared')
df

    sample  sample_base  sample_plus1  sample_squared
0      1.0          1.0           2.0            1.00
1      2.0          2.0           3.0            4.00
7      2.3          2.0           3.3            5.29
8      2.4          2.0           3.4            5.76
9      3.1          3.0           4.1            9.61
2      4.4          4.0           5.4           19.36
3      4.5          4.0           5.5           20.25
10     5.9          5.0           6.9           34.81
6      8.7          8.0           9.7           75.69
4      8.8          8.0           9.8           77.44
5      9.1          9.0          10.1           82.81

Notice that the indicies were re-ordered as well. The indicies retain information about the original ordering.

We can also select subsets of the data using conditionals similar to Numpy arrays.

In [15]:
q1 = df[df['sample'] <= 4]
q1

   sample  sample_base  sample_plus1  sample_squared
0     1.0          1.0           2.0            1.00
1     2.0          2.0           3.0            4.00
7     2.3          2.0           3.3            5.29
8     2.4          2.0           3.4            5.76
9     3.1          3.0           4.1            9.61

The `.groupby` method is used to create Pandas `DataFrameGroupBy` object which can be used to calculate statistics within the groups.

In [16]:
# groups that share a common sample_base field
g = df.groupby('sample_base')

# count number of rows within each group
print(g.count())

             sample  sample_plus1  sample_squared
sample_base
1.0               1             1               1
2.0               3             3               3
3.0               1             1               1
4.0               2             2               2
5.0               1             1               1
8.0               2             2               2
9.0               1             1               1

We can also merge DataFrames together using a common column.

Lets create a second DataFrame from the same original list of numbers and calculate the `sample_base` field again. We will also calculate a new column called `sample_sqrt`

In [17]:
df2 = pd.DataFrame(x, columns=['sample'])

df2['sample_base'] = df2['sample'] // 1
df2['sample_sqrt'] = np.sqrt(df2['sample'])
df2

    sample  sample_base  sample_sqrt
0      1.0          1.0     1.000000
1      2.0          2.0     1.414214
2      4.4          4.0     2.097618
3      4.5          4.0     2.121320
4      8.8          8.0     2.966479
5      9.1          9.0     3.016621
6      8.7          8.0     2.949576
7      2.3          2.0     1.516575
8      2.4          2.0     1.549193
9      3.1          3.0     1.760682
10     5.9          5.0     2.428992

Now we can add this new column into the original DataFrame by matching up the values on a shared column. In this case we want to match up on the original `sample` column.

Sometimes we have multiple DataFrames with one or more overlapping columns and we need to combine into a single DataFrame. This is where merging comes in.

Merging is a powerful and complex subject. I frequently find myself here: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html to lookup various functionalities.

In [18]:
merged = pd.merge(df, df2, on='sample', suffixes=['_original', '_new'])
merged

,sample,sample_base_original,sample_plus1,sample_squared,sample_base_new,sample_sqrt
0,1.0,1.0,2.0,1.00,1.0,1.000000
1,2.0,2.0,3.0,4.00,2.0,1.414214
2,2.3,2.0,3.3,5.29,2.0,1.516575
3,2.4,2.0,3.4,5.76,2.0,1.549193
4,3.1,3.0,4.1,9.61,3.0,1.760682
5,4.4,4.0,5.4,19.36,4.0,2.097618
6,4.5,4.0,5.5,20.25,4.0,2.121320
7,5.9,5.0,6.9,34.81,5.0,2.428992
8,8.7,8.0,9.7,75.69,8.0,2.949576
9,8.8,8.0,9.8,77.44,8.0,2.966479
10,9.1,9.0,10.1,82.81,9.0,3.016621

If a column name appears in both DataFrames but is not the column that you are merging on, the strings defined in the `suffixes` argument will be appended to the end of the column names.

DataFrames can be written and read from files very easily. Many formats are supported but comma separated values (CSV) is the most commonly used in astronomy. The `read_csv` function can actually read a variety of text file formats by specifying the `delimiter` argument.

You can also load a CSV directly from a URL.

In [19]:
merged.to_csv('sample.csv')

!cat sample.csv

from_csv = pd.read_csv('sample.csv', index_col=0)
from_csv

,sample,sample_base_original,sample_plus1,sample_squared,sample_base_new,sample_sqrt
0,1.0,1.0,2.0,1.0,1.0,1.0
1,2.0,2.0,3.0,4.0,2.0,1.4142135623730951
2,2.3,2.0,3.3,5.289999999999999,2.0,1.51657508881031
3,2.4,2.0,3.4,5.76,2.0,1.5491933384829668
4,3.1,3.0,4.1,9.610000000000001,3.0,1.760681686165901
5,4.4,4.0,5.4,19.360000000000003,4.0,2.0976176963403033
6,4.5,4.0,5.5,20.25,4.0,2.1213203435596424
7,5.9,5.0,6.9,34.81,5.0,2.4289915602982237
8,8.7,8.0,9.7,75.68999999999998,8.0,2.949576240750525
9,8.8,8.0,9.8,77.44000000000001,8.0,2.9664793948382653
10,9.1,9.0,10.1,82.80999999999999,9.0,3.0166206257996713

,sample,sample_base_original,sample_plus1,sample_squared,sample_base_new,sample_sqrt
0,1.0,1.0,2.0,1.00,1.0,1.000000
1,2.0,2.0,3.0,4.00,2.0,1.414214
2,2.3,2.0,3.3,5.29,2.0,1.516575
3,2.4,2.0,3.4,5.76,2.0,1.549193
4,3.1,3.0,4.1,9.61,3.0,1.760682
5,4.4,4.0,5.4,19.36,4.0,2.097618
6,4.5,4.0,5.5,20.25,4.0,2.121320
7,5.9,5.0,6.9,34.81,5.0,2.428992
8,8.7,8.0,9.7,75.69,8.0,2.949576
9,8.8,8.0,9.8,77.44,8.0,2.966479
10,9.1,9.0,10.1,82.81,9.0,3.016621

### Best practices

Its almost always better to avoid loops when working with Numpy arrays or Pandas DataFrames. If I'm working on a complicated problem and I'm unsure whether to use a loop or array/DataFrame operations I usually write it up in a loop first so that I can conceptualize the problem a little easier then convert later to remove as many loops as possible.

## Activity #1 

Let's see how much faster it is to work with Numpy arrays over Python lists.

In [20]:
import time

# First we'll create a long list
length = 10000000  # must be an int
x = list(range(length))

# now lets loop over all of the elements and add one then divide by two
# we will also use the time package to time how long it takes
t1 = time.time()
for i in range(len(x)):
    x[i] = (x[i] + 1) / 2
t2 = time.time()

print("Updated {:d} elements in {:4.3f} seconds.".format(length, t2-t1))

Updated 10000000 elements in 1.982 seconds.

1. Change the length of the array and keep track of how long the calculation takes as a function of that length.

1. Plot the time as a function of list length.

1. Now construct a Numpy array from the list `x` and perform the same calculation for several different array lengths.

1. Plot the calculation time as a function of array length and add this line to the plot created in step #2.

## Activity #2

Lets load a couple files into a Pandas DataFrame and re-arrange and merge them into a single file in a more useful format. `example_data/star_names.json` contains a list star names. The `primary_name` column is the primary ID for the star. For each unique `primary_name` there are many `other_names` associated with it. Each `primary_name`+`other_name` combination is stored in a separate row.

1. First load the file `example_data/star_names.json` into a Pandas DataFrame. The file is in JSON format so you might look into the `pandas.read_json` function.

1. Group the DataFrame on the `primary_name` column and create a custom aggregation function that takes all of the values in the `other_name` column that have the same `primary_name` and converts them into a single string deliminated with a pipe (`|`).

1. Load the `example_data/star_props.csv` file into a separate DataFrame and merge this with the grouped DataFrame from step #2.

1. Save the result as a new CSV file. The resulting file should look like `example_data/stars_merged.csv`. You may also load this file into Pandas to see what the final DataFrame should look like before saving to a CSV.